body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
    background-color: rgba(226, 190, 80, 0.951);
    font-family: 'Permanent Marker', cursive;
}

